@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.blend-mode {
  mix-blend-mode: multiply;
}

.blue-text-gradient {
  background: linear-gradient(to right, blue, lightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: linear-gradient(to right, green, lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: linear-gradient(to right, pink, lightpink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filter-red {
    filter: brightness(0) saturate(100%) invert(14%) sepia(97%) saturate(2875%) hue-rotate(345deg) brightness(101%) contrast(104%);
}



/* Add these lines for the image zoom effect */


/* The container holding the image; used for hiding the overflow and positioning */
.img-container {
  position: relative; /* Set to relative so we can absolutely position children if needed */
  overflow: hidden;  /* Hide any child content that spills outside the container's bounds */
}

/* Style targeting the actual image inside the .img-container */
.img-container img {
  transition: transform .3s ease-in-out; /* Add a smooth transition effect for the 'transform' property over 0.3s */
}

/* Style targeting the image when the container is hovered */
.img-container:hover img {
  transform: scale(2.5); /* Scale the image up to 2.5 times its original size */
}

